<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="stylesheets/attractions.css">
    <title>Gallery</title>
</head>
<body>
    <div>
        <ul>
            <li><h3><a href="/">Home</a></h3></li>
            <li><h3><a href="#" class="active">Gallery</a></h3></li>
            <li><h3><a href="/blog">Blogs</a></h3></li>
            <li><h3><a href="/postblog">Add Blog</a></h3></li>
        </ul>
    </div>
    <h1 class='move'>National Park Gallery</h1>
    <hr>
    <div class="grid-container">
        <div class="grid-item"><a href="images/atr1.jpg" target="new"><img class="atr_img"src="images/atr1.jpg"></a></div>
        <div class="grid-item"><a href="images/atr2.jpg" target="new"><img class="atr_img"src="images/atr2.jpg"></a></div>
        <div class="grid-item"><a href="images/atr3.jpg" target="new"><img class="atr_img"src="images/atr3.jpg"></a></div>  
        <div class="grid-item"><a href="images/atr4.jpg" target="new"><img class="atr_img"src="images/atr4.jpg"></a></div>
        <div class="grid-item"><a href="images/atr5.jpg" target="new"><img class="atr_img"src="images/atr5.jpg"></a></div>
        <div class="grid-item"><a href="images/atr6.jpg" target="new"><img class="atr_img"src="images/atr6.jpg"></a></div>  
        <div class="grid-item"><a href="images/atr7.jpg" target="new"><img class="atr_img"src="images/atr7.jpg"></a></div>
        <div class="grid-item"><a href="images/atr8.jpg" target="new"><img class="atr_img"src="images/atr8.jpg"></a></div>
        <div class="grid-item"><a href="images/atr9.jpg" target="new"><img class="atr_img"src="images/atr9.jpg"></a></div>
        <div class="grid-item"><a href="images/atr10.jpg" target="new"><img class="atr_img"src="images/atr10.jpg"></a></div>
        <div class="grid-item"><a href="images/atr11.jpg" target="new"><img class="atr_img"src="images/atr11.jpg"></a></div>
        <div class="grid-item"><a href="images/atr12.jpg" target="new"><img class="atr_img"src="images/atr12.jpg"></a></div>
        <div class="grid-item"><a href="images/atr13.jpg" target="new"><img class="atr_img"src="images/atr13.jpg"></a></div>
        <div class="grid-item"><a href="images/atr14.jpg" target="new"><img class="atr_img"src="images/atr14.jpg"></a></div>
        <div class="grid-item"><a href="images/atr15.jpg" target="new"><img class="atr_img"src="images/atr15.jpg"></a></div>  
        <div class="grid-item"><a href="images/atr16.jpg" target="new"><img class="atr_img"src="images/atr16.jpg"></a></div>
        <div class="grid-item"><a href="images/atr17.jpg" target="new"><img class="atr_img"src="images/atr17.jpg"></a></div>
        <div class="grid-item"><a href="images/atr18.jpg" target="new"><img class="atr_img"src="images/atr18.jpg"></a></div>
        <div class="grid-item"><a href="images/atr19.jpg" target="new"><img class="atr_img"src="images/atr19.jpg"></a></div>
        <div class="grid-item"><a href="images/atr20.jpg" target="new"><img class="atr_img"src="images/atr20.jpg"></a></div>
        <div class="grid-item"><a href="images/atr21.jpg" target="new"><img class="atr_img"src="images/atr21.jpg"></a></div>
        <div class="grid-item"><a href="images/atr22.jpg" target="new"><img class="atr_img"src="images/atr22.jpg"></a></div>
        <div class="grid-item"><a href="images/atr23.jpg" target="new"><img class="atr_img"src="images/atr23.jpg"></a></div>
        <div class="grid-item"><a href="images/atr24.jpg" target="new"><img class="atr_img"src="images/atr24.jpg"></a></div>
    </div>
    
</body>
</html>