<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
    <title>National Park</title>
</head>
<body>
    <div class="main">
        <ul>
            <li><h3><a href="#" class="active">Home</a></h3></li>
            <li><h3><a href="/attractions">Gallery</a></h3></li>
            <li><h3><a href="/blog">Blogs</a></h3></li>
            <li><h3><a href="/postblog">Add Blog</a></h3></li>
        </ul>
    </div>
        <h1 class='move'>NATIONAL PARK</h1>
        <hr>
        <div class="image-container">
            <img class="slide_img" src = "images/river.jpg">
            <img class="slide_img" src = "images/steps.jpg">
            <img class="slide_img" src = "images/waterfall.jpg">
            <img class="slide_img" src = "images/mountain.jpg">
        </div>
        <br>
        <br>
        <div class="right-container">
            <h2>Welcome To National Park</h2>
            <p>A national park is a park in use for conservation purposes. Often it is a reserve of natural, semi-natural, or developed land that a sovereign state declares or owns. Although individual nations designate their own national parks differently, there is a common idea: the conservation of 'wild nature' for posterity and as a symbol of national pride.An international organization, the International Union for Conservation of Nature (IUCN), and its World Commission on Protected Areas (WCPA), has defined "National Park" as its Category II type of protected areas.The largest national park in the world meeting the IUCN definition is the Northeast Greenland National Park, which was established in 1974. According to the IUCN, 6,555 national parks worldwide met its criteria in 2006. IUCN is still discussing the parameters of defining a national park.National parks are almost always open to visitors.Most national parks provide outdoor recreation and camping opportunities as well as classes designed to educate the public on the importance of conservation and the natural wonders of the land in which the national park is located.</p><p>National park, an area set aside by a national government for the preservation of the natural environment. A national park may be set aside for purposes of public recreation and enjoyment or because of its historical or scientific interest. Most of the landscapes and their accompanying plants and animals in a national park are kept in their natural state. The national parks in the United States and Canada tend to focus on the protection of both land and wildlife, those in the United Kingdom focus mainly on the land, and those in Africa primarily exist to conserve animals. Several other countries have large areas reserved in national parks, notably Brazil, Japan, India, and Australia.</p><p>Partly inspired by the American example, movements in favour of national parks sprang up in many other countries, beginning with Canada, which established its first three national parks in the mid-1880s. Nature reserves had been maintained in Europe for centuries to protect hunting grounds for use by kings and nobles, but the establishment of modern national parks and nature reserves gained momentum only after World War I or, in some cases, after World War II.</p>
        </div>
        <br>
    <div class="right-container">
        <h2>Hike to health</h2>
        <p>It is well established that hiking can make you happier and healthier, but one park is especially serious about it. Just shy of the Canadian border, Voyageurs National Park launched the “Hike to Health Trail Passport” program in mid-2014 as a way of challenging its visitors to tackle the area’s many hiking trails and amp up their fitness goals. One thing’s for sure—completing challenges at this beautiful river-veined transition area between southern boreal and northern hardwood forests is a lot more fun than walking on the treadmill. Plenty of parks and other wildlands offer the opportunity to kayak or canoe, but only a few let you do it along a winding waterbound “trail.” Everglades National Park contains a variety of kayak and canoe trails where you can explore mangrove swamps and freshwater marshes, marveling at an incredible variety of birds and plantlife.</p>
    </div>
    <br>
    <hr>
    <div class="grid_pic">
        <div>
            <img class="grid_image" src="images/pebbles.jpg">
            <h4 class="grid_h4">Natural Values</h4>
            <p class="grid_p">Our national parks form the cornerstone of biodiversity conservation in Australia, containing vital habitat that provides safe havens in which animals and plants can survive and thrive. Together with other protected areas, they provide a ‘backbone’ of core conservation areas that can be linked by conservation efforts across different tenures, supporting a diverse, healthy and resilient environment.</p>
        </div>
        <div>
            <img class="grid_image"src="images/zeebra.jpg">
            <h4 class="grid_h4">Wildlife</h4>
            <p class="grid_p">National parks offer a unique experience for watching wildlife. Visitors have the amazing opportunity to view animals as they live and interact with each other in their natural homes. But with that privilege comes responsibility. Visitors are responsible for their own safety and for the safety of the animals, too. Simply put, leave animals alone no touching, no feeding, no harassing. Just remember to keep your distance, and enjoy your experience watching wildlife.</p>
        </div>
        
        <div>
            <img class="grid_image"src="images/images.jpg">
            <h4 class="grid_h4">Social And Cultural values</h4>
            <p class="grid_p">National parks are alive with history and culture. From ancient aboriginal rock-art sites, to the buildings left over from early European settlements, our national parks serve as a natural history book dating back thousands of years. Our national parks protect these vital and fragile places; areas where the traces of a history extending back more than 22,000 years can remain undisturbed.</p>
        </div>

    </div>
    
    <hr>
    <div class="grid_info">
        <div class='grid-item'>
            <h3 class="grid_h4">Contact Us</h3>
            <p class="grid_p">Heljsdksdkd Sff </p>
            <p class="grid_p">P.O.Box 99</p>
            <p class="grid_p">FL-09070 </p>
            <p class="grid_p">Tel.+3587532864976</p>
        </div>
        <div class='grid-item'>
            <h3 class="grid_h4">Quick Links</h3>
            <p class="grid_p">	Other Metsähallitus Websites</p>
            <p class="grid_p">Nature Centres</p>
            <p class="grid_p">Prevent Waste</p>
        </div>
        <div class='grid-item'>
            <h3 class="grid_h4">Kaziranga Packages</h3>
            <p class="grid_p">Kaziranga Weekend Tour</p>
            <p class="grid_p">North East Golden Triangle</p>
            <p class="grid_p">Asam & Meghalaya</p>
        </div>
        <div class='grid-item'>
            <h3 class="grid_h4">Information</h3>
            <p class="grid_p">Kaziranga Travel Tips</p>
            <p class="grid_p">Tourists Attractions</p>
            <p class="grid_p">How To Reach</p>
        </div>
    </div>
    <script type = "text/javascript" src = "scripts/pic.js" ></script>
</body>
</html>